.Menu {
    grid-area: Menu;

    width: 100%;
    margin-left:15px;
    height: 376px;;
}
.Menu :last-child{
    display: flex;
    padding-top: 55px;
}

.Menu a{
    display: flex;

    margin: 15px;
    margin-left:25px;

    text-decoration: none;
    font-weight: 400;
    font-size: 15px;
    line-height: 32px;
    text-transform: uppercase;

    color: #303030;
}