.ProfileAvaMainText{
    display: grid;
    width: 100%;
    grid-template-rows: 1fr auto;
    grid-template-columns: 2fr 4fr;
    grid-template-areas: "Img Text"
    "Img file";
    grid-area: AvaText;

    padding-top: 20px;
    padding-left: 1%;

    font-weight: 600;
    font-size: 16px;
    line-height: 20px;
    text-transform: uppercase;
}
*, *::before, *::after {
    box-sizing: border-box;
    font-family: 'Montserrat Alternates';
}

.profileAva{
    grid-area: Img;
    
    display: flex;
    align-content: center;
    justify-content: center;
    width: 70%;
    margin-bottom: 10%;
    
}
.profileAva img{
    max-width: 220px;
    max-height: 220px;

    border-radius: 100%;
    margin-left: 5%;
    object-fit: cover;
}

.profileAbout span :first-child{
    font-size: 24px;
    margin-bottom: 10px;
    color: #291B1B;
}

.profileAbout span :last-child{
    margin-top: 30%;
    
}

.profileAbout{
    display: grid;
    grid-area: Text;

    display: block;
    color: #494848;

    padding-left: 5%;
}
.status{
    margin-bottom: 10%;
    font-size: large;
}
.profileAbout span{
    list-style-type: none;
} 
.profileAbout input {
    background-color: #edebe9;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #494848;
    border-radius: 0.25rem;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.profileName{
    font-size: 25px;
    margin-bottom: 40px;
}
.form-group {
    display: grid;
    grid-area: file;
    align-content: center;
    justify-content: end;
    margin-right: 10%;
    margin-bottom: 5%;
}
.form-group input[type=file] {
    outline: 0;
    opacity: 0;
    pointer-events: none;
    user-select: none;
    display: none;
}

.label {
    width: 120px;
    border: 2px dashed grey;
    border-radius: 5px;
    display: block;
    padding: 1px;
    transition: border 300ms ease;
    cursor: pointer;
    text-align: center
    
}

.label .title {
    color: grey;
    transition: 200ms color;
    font-size: 10px;
    display: flex;
    width: 100%;
    align-content: center;
    justify-content: center;
    
}

.label:hover {
    border: 2px solid #000
}

.label:hover .title {
    color: #000
    
}

.contacts{
    padding-right: 10%;
    font-size: 10px;
}
.contactsSum{
    display: flex;
    justify-content: start;
    align-items: end;
    padding-right: 10%;
}

.buttonEdit{
    display: flex;
    justify-content: end;
}