.ProfileAvaMainText{
    display: grid;
    width: 100%;
    grid-template-rows: 1fr;
    grid-template-columns: 1fr 4fr;
    grid-template-areas: "Img Text "; 
    grid-area: AvaText;

    padding-top: 20px;
    padding-left: 5%;

    font-weight: 600;
    font-size: 16px;
    line-height: 20px;
    text-transform: uppercase;
}
*, *::before, *::after {
    box-sizing: border-box;
    font-family: 'Montserrat Alternates';
}

.profileAva{
    grid-area: Img;
    width: 200px;
    height: 200px;
    margin-bottom: 20px;
}
.profileAva img{
    width: 200px;
    height: 200px;
    min-width: 10em;
    min-height: 10em;
    border-radius: 100%;
}

.profileAbout span :first-child{
    font-size: 24px;
    margin-bottom: 10px;
    color: #291B1B;
}

.profileAbout span :last-child{
    margin-top: 30%;
    
}

.profileAbout{
    display: grid;
    grid-area: Text;

    display: inline-flex;
    color: #494848;

    padding-left: 5%;
}
.profileAbout span{
    list-style-type: none;
} 
.profileAbout input {
    background-color: #edebe9;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #494848;
    border-radius: 0.25rem;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.profileName{
    font-size: 25px;
    margin-bottom: 40px;
}