.mainSocialNetwork{
    display: grid;
 
    grid-template-rows: 60px 1fr 1fr;
    grid-template-columns: 2fr 10fr;
    grid-template-areas: "Header Header"
    "Menu Profile"
    "Nothing Post";
   
}
.header{
    display: grid;
    grid-area: Header;

}

.menu{
    display: grid;
    grid-area: Menu;
    
}
.profile{
    display: grid;
    grid-area: Profile;
  
}
.NewPostProfile{
    display: grid;
    grid-area: Post;
}
.Nothing{
    display: grid;
    grid-area: Nothing;
}