.mainSocialNetwork{
    display: grid;
 
    grid-template-rows: 60px 1fr;
    grid-template-columns: 2fr 10fr;
    grid-template-areas: "Header Header"
    "Menu Content";
    grid-gap: 15px;
    min-width: 370px;
}


.Nothing{
    display: grid;
    grid-area: Nothing;
}

.backgroundColor{
    background: #EDEBE9;
}
.backgroundColorItem{
    background: #FFFFFF;
    border-color: #FFFFFF;
    color: #FFFFFF;
}
.borderRadius{
    border-radius: 35px;
}
.content{
    grid-area: Content;

}
