.imgCatPawPost{
    grid-area: Img;
    width: 82px;
}
.NewPostProfile{
   display: grid;

   grid-template-rows: 1fr;
   grid-template-columns: 2fr 8fr;
   grid-template-areas: "Img Content";
    margin-top: 30px;
}
