.ProfileAvaMainText{
    display: grid;
    margin-top: 20px;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr 4fr 1fr;
    grid-template-areas: 
        "Img Text Text"
        "Input Input Button"; 
    
    height: 371px;
    max-width: 1000px;
    padding-top: 17px;
    padding-left: 5%;
    font-family: 'Montserrat Alternates';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 20px;
    text-transform: uppercase;
}
.profileAva{
    grid-area: Img;
    width: 200px;
    height: 200px;
}
.profileAva img{
    width: 200px;
    height: 200px;
    min-width: 10em;
    min-height: 10em;
    border-radius: 97px;
}

.profileAbout :last-child{
    margin-top: 30px;
}

.profileAbout{
    grid-area: Text;
    display: inline-flex;
    color: #291B1B;

}
.profileAbout li{
    list-style-type: none;
} 
.textInputLabel{
    display: grid;
    grid-area: Input;
    margin-top: 61px;
    height: 64px;
    padding: 1rem 5rem;
   
    color: #212529;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;

    font-family: 'Montserrat Alternates';
    font-style: normal;
    font-weight: 400;
    font-size: 23px;
    line-height: 100%;

    width: 90%;

    background: #FFFFFF;
    border-radius: 52px;        
}

*, *::before, *::after {
    box-sizing: border-box;
}

.catPaw{
    width: 58px;
    height: 58px;
}
.buttonCatPaw{
    grid-area: Button;
    display: flex;
    justify-content: center;
    margin-top: 61px;
    border-radius: 50%;
    border-color: #FFFFFF;
    color: #FFFFFF;
    width: 60px;
    height: 60px;
}