.formControl{
    width: max-content;
}

.formControl.error input{
    color: red;
    width: max-content;
}
.error{
    margin-bottom: 1%;
}
.formControl.error textarea{
    border: solid 2px red;
}

.formControl.error span{
   color: red;
   display: flex;
   justify-content: center;
   align-items: center;
   margin-left: 2%;
}

.errorForm{
    color: red;
    margin: 5px;
}