.formControl{
    display: flex;
    width: 80%;
} 

.formControl.error input{
    color: red;

}
.error{
    margin-bottom: 1%;
}
.formControl.error textarea{
    border: solid 2px red;
}

.formControl.error span{
   color: red;
   /* display: flex;
   justify-content: center;
   align-items: center;
   margin-left: 2%; */
}

.errorForm{
    color: red;
    margin: 5px;
} 
.form{
    padding: 0%;
    margin: 0%;
    width: 100%;
}